* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-position: center;
  background-size: auto;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* mobile-menu start */

.mobile-menu {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6070ff;
  opacity: 0.9;
}

.mobile-menu-items {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: left;
  margin-top: 1.2rem;
}

.mobile-menu a {
  padding: 1rem;
  padding-left: 2rem;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  display: block;
  transition: 0.3s;
  line-height: 44px;
}

.mobile-menu a:hover,
.mobile-menu a:focus {
  color: #f1f1f1;
}

.mobile-menu .close-button {
  position: absolute;
  top: 0.6rem;
  right: 1.5rem;
  font-size: 1.9rem;
  font-weight: normal;
  border: 2px;
  cursor: pointer;
}

/* mobile menu end */

.desktop-nav {
  display: none;
}

.logo {
  font-size: 18px;
  color: #6070ff;
  font-weight: 700;
  padding-left: 0.81rem;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
}

a.button {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  color: #6070ff;
  font-size: 20px;
}

header {
  margin-bottom: 3.15rem;
}

.app-wrap {
  max-width: 375px;
  height: 110vh;
  margin: 5vh auto 5vh auto;
  display: flex;
  flex-direction: column;
  border-bottom-width: 70px;
  border-radius: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-size: 450px 462px;
}

.name {
  font-weight: 700;
  font-size: 48px;
  color: #091e42;
  line-height: 52px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 10px;
}

.description {
  font-weight: 400;
  font-size: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 10px;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0 8px;
}

/* important flexbox for mobile */

.app-wrap > * {
  flex: 1 1 auto;
}

.page {
  -webkit-overflow-scrolling: touch;
}

.social-icons {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0;
  margin: 10px;
  flex: none;
  order: 4;
}

.icon {
  list-style: none;
}

.fa-brands {
  color: #505f79;
  text-decoration: none;
  font-size: 20px;
}

/* Portfolio CSS start here */

.project-cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-row-gap: 25px;
  justify-content: center;
  grid-template-columns: 1fr;
}

.cards {
  width: 100%;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.cards img {
  width: 90%;
  height: 45%;
  margin: 12px 18px;
}

.project-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #172b4d;
  flex: none;
  margin: 0 18px;
}

.key-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  width: 80%;
  color: #7a869a;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
}

.card-description {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  line-height: 25px;
  margin: 12px 16px;
  display: flex;
  text-align: left;
}

.language-container {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
  margin-left: 16px;
  padding: 0.5px;
  width: 100%;
  left: 0.5px;
  top: 180px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: 10%;
}

.lang {
  background: #ebebff;
  padding: 8px 8px;
  border-radius: 8px;
  color: #6070ff;
}

.see-project {
  display: flex;
  padding: 15px 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 16px;
  margin-bottom: 40px;
  color: #396df2;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #396df2;
  background-color: white;
}

.see-project:hover {
  background-color: #6070ff;
  color: #fff;
  transition: 0.3s 0.3s;
}

.see-project:active:enabled {
  background-color: #2230d2;
  transition: 0.1s;
}

/* Mobile pop-up window CSS start */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 90%;
  height: 600px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8%;
}

.title {
  position: static;
  width: 280px;
  height: 25%;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-top: 10px;
  padding-bottom: 20px;
}

.role {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr 0.5fr 1.5fr 0fr;
}

.role-name {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5px 2px;
}

.role-dot {
  width: 10px;
  height: 10px;
  left: 67px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2.5px 12px;
  border-radius: 50%;
}

.role-job {
  position: static;
  width: 88px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5px 0.5px;
}

.role-year {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5px 0.5px;
}

.project-description {
  margin-left: 5%;
}

.project-description > h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.project-details {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 5%;
  flex: 0;
  order: 0;
  flex-grow: 0;
}

.skill {
  position: static;
  width: 29px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.modal-example {
  display: none;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  margin: 5%;
  width: 80%;
  padding: 10px;
  position: fixed;
  animation: smoth-effet-open 0.7s;
  top: 0;
  color: #172b4d;
}

.modal-btn {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  border: 2px #6070ff solid;
  outline: none;
  color: #6070ff;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.modal-example.show {
  display: flex;
  justify-content: center;
  flex: 1;
  height: auto;
  width: 70%;
}

.modal-example img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 140%;
  height: 90%;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.modal-example .closeModal {
  font-size: 50px;
  color: #67798e;
  border: none;
  outline: none;
  background: none;
}

.modelContainer {
  width: 50%;
  min-height: 40%;
  overflow: auto;
  padding-bottom: 100px;
}

.see-project-buttons {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  width: 260px;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(193, 199, 208, 0.7);
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #172b4d;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #172b4d;
  text-decoration: none;
  cursor: pointer;
}

ul.project__lang {
  display: flex;
  list-style-type: none;
}

.project__lang a.lang1 {
  margin: 20px 10px 20px 0;
  background: #ebebff;
  color: #6070ff;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px;
  text-decoration: none;
}

.modal-head {
  display: flex;
  justify-content: space-between;
}

.short_desc {
  display: flex;
  align-items: center;
}

.short_desc * {
  margin-right: 10px;
}

.short_desc h4 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.short_desc h4:nth-child(1) {
  color: #344563;
  text-transform: uppercase;
}

.short_desc span {
  background-color: #c1c7d0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Mobile pop-up window CSS end */

/* CSS for about section */

.about {
  margin-top: 10vh;
}

.see-resume {
  padding: 10px 16px;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: #396df2;
  font-size: 20px;
  border: 1px solid #396df2;
  background-color: white;
}

.see-resume:hover {
  background-color: #6070ff;
  color: #fff;
  transition: 0.3s 0.3s;
}

.see-resume:active:enabled {
  background-color: #2230d2;
  transition: 0.1s;
}

.languages {
  flex: 1;
  align-items: center;
  width: 80%;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

.text-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-language > li {
  gap: 16px;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #f7f7f9;
  border: 1px solid #f7f7f9;
  margin-top: 5px;
  border-radius: 16px;
}

.framework {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  width: 80%;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  width: 80%;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

/* Contact form CSS */

.contact-section {
  background-color: #6070ff;
  border-radius: 100px 0 0 0;
  background-image: url(../images/contact-form-shapes-mobile.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 103px;
  margin-top: 10%;
}

.contact-heading {
  margin-top: 5%;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.contact-description {
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 5%;
}

label {
  display: none;
}

.form-group input {
  width: 327px;
  height: 48px;
  margin-top: 20px;
  background-color: #f7f7f9;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  border-radius: 8px;
  padding-left: 16px;
  color: #172b4d;
  outline: none;
}

textarea {
  width: 327px;
  margin-top: 20px;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 10px;
  color: #b3bac5;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  resize: none;
  border: 1px solid #cfd8dc;
  outline: none;
}

.submit-button {
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 20px;
  margin-bottom: 40px;
}

.submit-button:hover {
  background-color: #6070ff;
  color: #fff;
  transition: 0.3s 0.3s;
}

.submit-button:disabled {
  border: 1px solid #999;
  background-color: #fff;
  color: #666;
}

.submit-button:active:enabled {
  background-color: #2230d2;
  transition: 0.1s;
}

/* CSS for desktop version */

@media (min-width: 768px) {
  .app-wrap {
    max-width: 100%;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    margin-left: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #fff;
  }

  .logo-desktop {
    font-size: 1.15rem;
    color: #6070ff;
    font-weight: 700;
    line-height: 20px;
  }

  .desktop-header-items {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    list-style: none;
  }

  .desktop-header-items a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #344563;
    text-decoration: none;
  }

  .intro {
    background-image: url(../images/Header-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40rem;
  }

  .name {
    max-width: 25rem;
    margin-left: 15rem;
    margin-top: 10%;
    font-weight: 700;
    font-size: 48px;
  }

  .description {
    color: #344563;
    max-width: 50rem;
    margin-left: 15rem;
  }

  .connect,
  .social-icons {
    margin-left: 15rem;
  }

  /* modal CSS desktop */
  .modal-example {
    width: 60%;
    padding: 2%;
  }

  .modal-example.show {
    right: 0;
    max-width: 60%;
    bottom: 0;
    height: auto;
    transform: translate(-10%, 0%);
  }

  .modal__body {
    overflow-y: auto;
  }

  .modal-img {
    display: flex;
    justify-content: center;
    height: auto;
  }

  .desc {
    width: 60%;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: 5%;
    width: 90%;
    height: 60%;
  }

  .img-web {
    display: flex;
    width: 80%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .project-details {
    align-items: center;
  }

  .project-desc {
    display: flex;
  }

  .role {
    display: flex;
    align-items: center;
  }

  .role-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .role-dot {
    width: 10px;
    height: 10px;
    left: 67px;
    top: 12px;
    background: #c1c7d0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6.5px 22px;
    border-radius: 50%;
  }

  .role-job {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }

  .role-year {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .project-details > p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    height: 50px;
    left: 24px;
    top: 146px;
    margin-left: 1rem;
  }

  /* modal desktop Css end */

  .portfolio {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
  }

  .project-cards {
    display: grid;
    grid-row-gap: 4.5rem;
    flex-direction: column;
    align-content: center;
    max-width: 75%;
    max-height: 20%;
  }

  .cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    max-height: 100%;
  }

  .card-content {
    width: 50%;
    margin-top: 3rem;
    margin-left: 15rem;
  }

  .card2 .card-content {
    order: -1;
  }

  .cards img {
    max-width: 60rem;
    height: 90%;
  }

  .card-image img {
    height: 100%;
  }

  .project-name {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .key-text {
    display: flex;
    gap: 0.5rem;
    max-width: 20rem;
    font-size: 1.1rem;
    margin-left: 1rem;
  }

  .canopy {
    font-size: 1.1rem;
  }

  .about {
    display: flex;
    gap: 1rem;
  }

  .about-container {
    max-width: 50%;
    padding-right: 6rem;
    justify-content: center;
  }

  .about-container .description {
    font-size: 16px;
  }

  .skills-container {
    padding-right: 1rem;
    padding-top: 4.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-languages-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2.4rem;
  }

  .about-language li {
    padding: 0.3rem 0.3rem;
    border-radius: 8px;
  }

  .see-resume {
    margin-left: 15rem;
  }

  .contact-section {
    background-image: url(../images/contact-form-background-shapes.svg);
  }

  .contact-content {
    max-width: 33.5rem;
  }

  .contact-heading {
    font-size: 40px;
  }

  .form-group input {
    width: 30rem;
  }

  textarea {
    width: 30rem;
  }

  .form-submission-error {
    color: red;
    margin-top: 5%;
  }

  .submit-button {
    margin-left: 10rem;
  }

  .black-bar {
    display: none;
  }

  /* CSS for animations and transitions */

  .cards:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }

  .desktop-header-items a:hover {
    color: #6070ff;
    transition: 0.3s;
  }

  .intro .name,
  .page .description,
  .connect,
  .social-icons,
  .logo-desktop {
    animation: 2s anim-intro-up ease-out 1;
  }

  @keyframes anim-intro-up {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }

    20% {
      opacity: 0;
    }

    50% {
      opacity: 1;
      transform: translateY(0%);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
